.column-1 {
  background-color: blue;
  width: 45%;
  font-family: arial;
  float: left;
}

.column-2 {
  font-family: cursive;
  background-color: red;
  width: 45%;
  float: right;
}

.column-2 h2 {
  color: green;
}

footer {
	margin-top: 100%;
}
