<!DOCTYPE html>
<html>
<head>
  <title>Update students age</title>
</head>
<body>
  <form action="/updateage" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="new_age" placeholder="New Age">
    <button type="submit">Save</button>
  </form>
</body>
</html>