.octopus {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}

#glasses {
	position: absolute;
	display: block;
	top: 250px;
	left: 458px;
}

#hat {
	position: absolute;
	display: block;
	top: 85px;
	left:390px;
}